<main>
  <form [formGroup]="form">
    <section class="container">
      <div class="row">
        <div class="info">
          <span class="start"> Start: </span><br />
          <span class="req">*Required</span>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Date Start*</mat-label>
          <input
            matInput
            (dateChange)="startDateChanged($event)"
            [matDatepicker]="picker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="at">at</div>
      <div class="time">
        <mat-form-field class="select">
          <mat-label>Time Start*</mat-label>

          <mat-select
            (selectionChange)="startTimeChange($event)"
            formControlName="startTime"
          >
            <mat-option *ngFor="let option of selectOptions" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="info">
          <span class="start"> End: </span><br />
          <span class="req">*Required</span>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Date end*</mat-label>
            <input
              matInput
              (dateChange)="endDateChanged($event)"
              [matDatepicker]="picker1"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <small *ngIf="showErrorDays">Invalid Date</small>
        </div>
      </div>
      <div class="at">at</div>
      <div class="time">
        <div>
          <mat-form-field class="select">
          <mat-label>Time End*</mat-label>

            <mat-select
              (selectionChange)="endTimeChange($event)"
              formControlName="endTime"
            >
              <mat-option
                *ngFor="let option of selectOptions"
                [value]="option"
                >{{ option }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <small *ngIf="showErrorMin">Invalid Time</small>
        </div>
      </div>
    </section>
    <div class="btnContainer">
      <button
        mat-raised-button
        (click)="openDialog()"
        [disabled]="showErrorMin || showErrorDays"
      >
        Submit
      </button>
    </div>
  </form>
</main>
